
@{
    ViewBag.Title = "Employee Not Found";
    Layout = "~/Views/Shared/_MainTemp.cshtml";
}

<h2>Employee Not Found</h2>

<br><b>Employee name is not found ! ,</b> 
<br>Try to enter a correct name ... <br>

@Html.ActionLink("Back to list", "GetAllEmps")
